/*  This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <https://www.gnu.org/licenses/>. */

:root {
   --emph: #9EFFFF;
   --keyword: var(--accent);
   --string: #A5FF90;
   --comment: #B362FF;
}

/* Error */
.highlight .tok-err {
   border: 1px solid red
}

/* Comments */
.highlight .tok-c,
.highlight .tok-cm,
.highlight .tok-c1,
.highlight .tok-cs,
.highlight .tok-ge {
   font-style: italic;
   color: var(--comment);
}

/* Emphatic stuff */
.highlight .tok-gh, 
.highlight .tok-gp, 
.highlight .tok-gs, 
.highlight .tok-gu, 
.highlight .tok-ni, 
.highlight .tok-ne, 
.highlight .tok-nn, 
.highlight .tok-na, 
.highlight .tok-nb, 
.highlight .tok-nt, 
.highlight .tok-ow, 
.highlight .tok-o, 
.highlight .tok-bp, 
.highlight .tok-nv,
.highlight .tok-sb {
   font-weight: bold;
   color: var(--emph);
}

/* Keywords */
.highlight .tok-k, 
.highlight .tok-kc, 
.highlight .tok-kd, 
.highlight .tok-kn, 
.highlight .tok-kr {
   font-weight: bold;
   color: var(--keyword);
}

/* Reserved Keywords */
.highlight .tok-s {
   font-style: italic;
   color: var(--keyword);
}

/* Literal Strings */
.highlight .tok-nc {
   font-weight: bold;
   color: var(--string);
}

/* Strings */
.highlight .tok-sc, 
.highlight .tok-sd, 
.highlight .tok-s2, 
.highlight .tok-sh, 
.highlight .tok-sx, 
.highlight .tok-sr, 
.highlight .tok-s1, 
.highlight .tok-ss {
   font-style: italic;
   color: var(--string);
}

/* Special Strings */
.highlight .tok-se, 
.highlight .tok-si {
   font-weight: bold;
   font-style: italic;
   color: var(--string);
}

