/*  This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <https://www.gnu.org/licenses/>. */

@import url('ibm-plex.css');

:root {
  --background: #0d1928;
  --foreground: #dfdfdf;
  --accent: #ffde39;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
}

body, input {
  padding: 1em;
  margin: 0;

  font-size: 15pt;
  line-height: 1.8em;
  font-family: 'IBM Plex Mono', monospace;
}

@media (min-width: 800px) {
  body {
    padding: 1em 20vw;
    text-align: justify;
  }
}

main {
  padding: 3em 0;
}

main > *:first-child {
  margin-top: 0;
}

main > *:last-child {
  margin-bottom: 0;
}
body > footer {
  text-align: center;
  display: none;
}

@media (min-width: 800px) {
  body > footer {
    display: block;
  }
}

nav {
  overflow-y: hidden;
  height: 1.8em;
}

nav a:first-child {
  margin-right: 1em;
}

nav a:nth-child(2) {
  float: right;
  display: block;
}

p {
  margin-top: 1em;
}

ul, ol {
  list-style: none;
  padding: 0;
}

ol {
  counter-reset: list-counter;
}

ul li::before {
  content: '- ';
}

ol li {
  counter-increment: list-counter;
}

ol li::before {
  content: counter(list-counter) '. '
}

ul li::before, ol li::before {
  font-weight: bold;
  font-style: normal;
  color: var(--accent);
}

aside, .admonition, .example, .colist {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-style: normal;
  font-weight: normal;
  border: solid 0.1em var(--accent);
}

.admonition {
  display: grid;
  grid-template-columns: 1em auto;
  grid-gap: 1em;
}

.admonition .icon {
  user-select: none;
}

.admonition div:nth-child(2) *:first-child, 
aside > *:first-child, 
.colist > *:first-child,
.example > *:first-child {
  margin-top: 0;
}

.admonition div:nth-child(2) *:last-child, 
aside > *:last-child,
.colist > *:last-child,
.example > *:last-child {
  margin-bottom: 0;
}

.icon {
  width: 1em !important;
}

dl dt {
  font-weight: bold;
}

dl dd, .admonition *:nth-child(2), aside, .example, .colist {
  overflow-x: scroll;
  scrollbar-width: none;
}

dl dd::-webkit-scrollbar, 
.admonition *:nth-child(2)::-webkit-scrollbar,
aside::-webkit-scrollbar,
.example::-webkit-scrollbar,
.colist::-webkit-scrollbar {
  display: none;
}

dl dd > *:first-child {
  margin-top: 0;
}

dl dd:last-child > *:last-child {
  margin-bottom: 0;
}

table {
  min-width: 100%;
  margin: 0;
  table-layout: fixed;

  font-style: normal;
  font-weight: normal;
  border-collapse: collapse;
}

table tr td, table tr th {
  vertical-align: top;
}

td, th {
  border: solid 0.1em var(--foreground);

  overflow: scroll;
  scrollbar-width: none;
}

table tr:first-child td, table thead tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
  border-left: 0;
}

table tr td:last-child, table tr th:last-child {
  border-right: 0;
}

table::::-webkit-scrollbar, td::-webkit-scrollbar, th::-webkit-scrollbar {
  display: none;
}

table td .cell, table th .cell {
  padding: 1em;
}

table tr td .cell > *:first-child, table tr th .cell > *:first-child {
  margin-top: 0;
}

table tr td .cell > *:last-child, table tr th .cell > *:last-child {
  margin-bottom: 0;
}

a {
  color: var(--foreground);
  text-decoration: underline;
  text-decoration-thickness: calc(1em/9);
}

h1, h2, h3, h4, h5, h6, 
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  font-weight: bold;
  margin: 0;
  color: var(--accent);
  font-size: 1em;
  text-align: left;
}

#preamble {
  font-style: italic;
}

#preamble em, #preamble i , #preamble blockquote p {
  font-style: normal;
}


/* Add section headings */
h1::before { content: '= '; }
h2::before { content: '== '; }
h3::before { content: '=== '; }
h4::before { content: '==== '; }
h5::before { content: '===== '; }
h6::before { content: '====== '; }

figure {
  margin: 1em 0;
}

figure figcaption {
  margin-top: 1em;
  text-align: left;
}

figure.equation {
  overflow-x: scroll;
  scrollbar-width: none;

  font-size: 1.5em;
  text-align: center;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
}

figure img, figure iframe, figure video {
  display: block;
  max-width: 100%;
}

.codeblock, .table-container {
  display: block;
  margin: 1em 0;

  overflow-x: scroll;
  scrollbar-width: none;

  border: solid 0.1em var(--foreground);
}

.codeblock::-webkit-scrollbar {
  display: none;
}

.codeblock > pre {
  width: max-content;
  margin: 1em 0;
  padding: 0 1em;
}

code {
  font-family: 'IBM Plex Mono', 'EmojiOne Color', monospace;
}

code.inline, kdb, code.inline::before, kdb::before, code.inline::after, 
kdb::after, code.inline a {
  color: var(--accent);
}

/* Add backticks arround inline code */
code.inline::before, kdb::before, code.inline::after, kdb::after {
  content: '`'
}

blockquote {
  margin-left: 1em;
  margin-right: 0;
}

@media (min-width: 800px) {
  blockquote {
    margin: 0 2em;
  }
}

blockquote p {
  font-style: italic;
}

blockquote footer {
  font-style: normal;
  text-align: right;
}

hr {
  border-top: solid 0.1em var(--foreground);
  overflow: visible;
}

.feed article {
  display: grid;
  gap: 1em;

  grid-template-rows: fit-content fit-content;
  margin: 1em 0;
}

@media (min-width: 800px) {
  .feed article {
    grid-template-rows: none;
    grid-template-columns: 1fr 3fr;
  }
}

.feed p {
  margin: 0;
}

.feed article header {
  text-align: left !important;
}

.feed article h6 {
  font-style: italic;
  font-weight: bold;
}

.feed article h6::before {
  display: none;
}

.titled-block {
  margin: 1em 0;
}

.titled-block > h1:first-child, .titled-block > h1:first-child::before {
  font-style: normal;
  font-weight: bold;
  color: var(--accent);
}

.titled-block > h1:first-child::before {
  content: '.'
}

.titled-block > *:nth-child(2) {
  margin-top: 0;
}

.titled-block > *:last-child {
  margin-bottom: 0;
}

code .title {
  padding: 0 1em;
}

.conum {
  color: var(--accent);
  font-weight: bold;
}

math, .feed article time {
  white-space: nowrap;
}

form {
  text-align: left;
}

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
  display: block;
  padding: 0;

  background: var(--foreground);
  color: var(--background);
  border: none;
  cursor: pointer;
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"] {
  padding: 0 1em;

  background: transparent;
  color: var(--foreground);
  border: solid 0.1em var(--foreground);
}

input::placeholder {
  opacity: 100%;
}

