-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

- unless sections.empty?
  - toclevels ||= (document.attr 'toclevels', 2).to_i
  - slevel = section_level sections.first
  %ul
    - sections.each do |sec|
      %li
        %a{:href=>"##{sec.id}"}= section_title sec
        - if (sec.level < toclevels) && (child_toc = converter.convert sec, 'outline')
          = child_toc
