-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

%figure
  - if video_iframe?
    %iframe{:src=>video_uri, :frameborder=>0, 
      :allowfullscreen=>!(option? :nofullscreen), 
      :sandbox=>"allow-same-origin allow-scripts allow-popups",
      :width=>(attr :width, 560), :height=>(attr :height, 315)}
  - else
    %video{:src=>video_uri, 
      :poster=>((attr :poster) ? media_uri(attr :poster) : nil), 
      :autoplay=>(option? :autoplay), :controls=>!(option? :nocontrols), 
      :loop=>(option? :loop)}
      Your browser does not support the video tag.
  - if title?
    %figcaption=title
