-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

- if attr? :link
  %a{:href => (attr :link)}
    %figure
      %img{:src => image_uri(attr :target), :alt => (attr :alt), 
        :width => (attr :width), :height => (attr :height)}
      - if @attributes[1]
        %figcaption
          %em=@attributes[1]
- else
  %figure
    %img{:src => image_uri(attr :target), :alt => (attr :alt), 
      :width => (attr :width), :height => (attr :height)}
    - if @attributes[1]
      %figcaption
        %em=@attributes[1]
