-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

- nowrap = !(@document.attr? :prewrap) || (option? :nowrap)
- if @style == 'source'
  - code_lang = attr :language, nil, false
  - code_class = ["language-#{code_lang}"] if code_lang
  - pre_class = ['highlight']
  - pre_lang = nil
  - case document.attr 'source-highlighter'
  - when 'coderay'
    - pre_class.unshift 'CodeRay'
    - code_class = nil
  - when 'pygments'
    - pre_class.unshift 'pygments'
    - code_class = nil
  - when 'highlightjs', 'highlight.js'
    - pre_class.unshift 'highlightjs'
  - when 'prettify'
    - pre_class.unshift 'prettyprint'
    - pre_class << 'linenums' if attr? :linenums
  - when 'html-pipeline'
    - pre_lang = code_lang
    - code_class = code_lang = pre_class = nil
    - nowrap = false
  - pre_class << 'nowrap' if nowrap
  = titled_block title do
    .codeblock{:"aria-label" => title}
      %pre{:class=>pre_class, :lang=>pre_lang}
        %code{:class=>code_class, :"data-lang"=>code_lang}=content
- else
  = titled_block title do
    .codeblock{:"aria-label" => title}
      %pre=content

