-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

.table-container
  %table{:id => @id, :width => (attr :tablewidth)}
    - if title?
      %caption=captioned_title
    - unless (attr :rowcount).zero?
      %colgroup
        - @columns.each do |col|
          %col{:width => "#{col.attr :colpcwidth}%"}
      - [:head, :foot, :body].select {|tblsec| !@rows[tblsec].empty? }.each do |tblsec|
        - haml_tag "t#{tblsec}" do
          - @rows[tblsec].each do |row|
            %tr
              - row.each do |cell|
                -# store reference of content in advance to resolve attribute 
                -# assignments in cells
                - if tblsec == :head
                  - cell_content = cell.text
                - else
                  - case cell.style
                  - when :verse, :literal
                    - cell_content = cell.text
                  - else
                    - cell_content = cell.content
                - bg = @document.attr :cellbgcolor, nil
                - tag = tblsec == :head || cell.style == :header ? 'th' : 'td'
                - cs = cell.colspan
                - rs = cell.rowspan
                - haml_tag tag, :<, :colspan => cs, :rowspan => rs, :background => bg do
                  - if tblsec == :head
                    .cell=cell_content
                  - else
                    - case cell.style
                    - when :asciidoc
                      .cell=cell_content
                    - when :verse
                      .cell~cell_content
                    - when :literal
                      .cell
                        %pre=cell_content
                    - else
                      .cell
                        - cell_content.each do |text|
                          %p<=text
