-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

- case @type
- when :xref
  - refid = (attr :refid) || @target
  - t = @text
  - t ||= @document.references[:ids].fetch(refid, "[#{refid}]")
  %a(href="#{@target}"){:target => (atrr :window)}=t.tr_s("\n", ' ')
- when :ref
  %a(id=@target){:target => (attr :window)}
- when :bibref
  %a(id=@target){:target => (attr :window)}>
  =%([#{@target}])
- else
  %a(href=@target){:id=>@id, :target=>(attr :window), 
    :title=>(attr :title)}=@text
