-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

%span<
  - if attr? :link
    %a{:href => (attr :link), :target => (attr :window)}
      %img.icon{:src => (image_uri "icons/#{@target}.svg"),
        :alt => (attr "#{@target} icon")}
  - else
    %img.icon{:src => (image_uri "icons/#{@target}.svg"),
      :alt => (attr "#{@target} icon")}
  - else
    - if attr? :link
      %a{:href => (attr :link), :target => (attr :window)}
        %img{:src=>src, :alt=>(attr :alt), :width=>(attr :width), 
          :height=>(attr :height), :title=>(attr :title)}
    - else
      %img{:src=>src, :alt=>(attr :alt), :width=>(attr :width), 
        :height=>(attr :height), :title=>(attr :title)}
