-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <https://www.gnu.org/licenses/>.

- require 'asciimath'
- require 'latexmath'
- require 'escape_utils'
- case @type
- when :emphasis
  %em=@text
- when :strong
  %strong=@text
- when :monospaced
  %code{:class => "inline"}=@text
- when :superscript
  %sup=@text
- when :subscript
  %sub=@text
- when :mark
  %mark=@text
- when :double
  = surround '“', '”' do
    =@text
- when :single
  = surround '‘', '’' do
    =@text
- when :asciimath # Convert the stem inline block to MathML directly
  =(AsciiMath.parse(EscapeUtils.unescape_html(@text)).to_mathml)
- when :latexmath # Convert the stem inline block to MathML directly
  =(Latexmath.parse(EscapeUtils.unescape_html(@text)).to_mathml)
- else
  =@text
