<section class="feed" 
         role="feed" 
         aria-busy="false" 
         aria-setsize="{{ posts | size }}">
  {% for post in site.posts limit: include.limit %}
  <article>
    <header>
      <h6>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </h6>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
        ({{ post.date | date_to_string: "ordinal", "US" }})
      </time>
    </header>
    <div>{{ post.excerpt }}</div>
  </article>
  {% endfor %}
  {% if include.more-option %}
  <strong>
    [<a href="{{ '/list-of-articles.html' | absolute_url }}">MORE</a>]
  </strong>
  {% endif %}
</section>
