{% if page.description %}
    {% assign description = page.description %}
{% else if page.excerpt %}
    {% assign description = page.excerpt %}
{% else %}
    {% assign description = site.description %}
{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {% if page.title %}{{ page.title }}{% else %}@pablo{% endif %}
</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="{{ site.author }}">
<meta name="copyright" content="GPLv2">

<link rel="stylesheet" href="{{ site.url }}/css/styles.css">
<link rel="stylesheet" href="{{ site.url }}/css/pygments.css">
<link rel="icon" 
      type="image/svg+xml" 
      sizes="16x16 24x24 32x32 48x48 64x64 128x128 256x256 512x512"
      href="{{ site.url }}/images/icons/favicon.svg">

<meta property="twitter:url" content="{{ site.url }}">
<meta property="twitter:title" content="{{ page.title }}">
<meta property="twitter:description" content="{{ description }}">
<meta property="twitter:image" 
      content="{{ site.url }}/images/icons/favicon.svg">
<meta property="twitter:card" content="summary_large_image">

<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:image" content="{{ site.url }}/images/icons/favicon.svg"/>
<meta property="og:image:type" content="image/svg+xml"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:locale" content="en_US"/>
<script src="/js/vim-controls.js"></script>

