<!doctype html>
<!-- This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->
<html lang="en">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>
</head>
<body>
    {% include header.html %}

    <main>
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}

        {{ content }}

        <section>
          <h2>Blog 
            <a href="{{ '/feed.xml' | absolute_url }}">
              <img class="icon" 
                   alt="RSS feed icon"
                   src="/images/icons/feed.svg"/>
            </a>
          </h2>
          {% include feed.html limit=5 more-option=true %}
        </section>
    </main>

    {% include footer.html %}
</body>
</html>
